* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.title {
    background-color: red;
    color: white;
    padding: 10px;
}

.hamburger {
    display: flex;
    background-color: bisque;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.bunTop {
    height: 50px;
    width: 60%;
    background-color: rgb(223, 171, 51);
    border-bottom: 10px solid rgb(158, 104, 41);
    border-radius: 60px 60px 10px 10px;
}

.cheese {
    height: 15px;
    width: 65%;
    background-color: rgb(233, 202, 63);
    border-bottom: 5px solid rgb(199, 188, 38);
}

.tomato {
    width: 45%;
    height: 20px;
    border-bottom: 5px solid rgb(136, 4, 4);
    background-color: red;
}

.meat {
    width: 55%;
    height: 20px;
    background-color: brown;
    border-radius: 30px;
    border-bottom: 5px solid rgb(112, 27, 23);
}

.onion {
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.onionCircle {
    background-color: fuchsia;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.meatBallContainer {
    display: flex;
    width: 40%;
    height: 80%;
}

.meatBall {
    width: 50px;
    height: 50px;
    background-color: brown;
    border-radius: 50%;
}

.cucumber {
    width: 45%;
    height: 30px;
    border-radius: 20px 20px 130px 130px;
    background-color: rgb(110, 219, 110);
    border-bottom: 10px solid green;

}

.bunDown {
    height: 35px;
    width: 60%;
    background-color: rgb(223, 171, 51);
    border-top: 10px solid rgb(158, 104, 41);
    border-radius: 20px 20px 60px 60px;
}

.plate {
    width: 80%;
    height: 30px;
    background-color: darkgrey;
    border-radius: 10px 10px 40px 40px;
    border-top: 10px solid grey;
}